.center-table {
  width: 70%;
  margin: 0 5%;
  max-height: 100%;
}

.center-table th {
  text-align: center;
}

.center-table td {
  text-align: center;
}

.center-table td + td,
.center-table th + th {
  border-left: 1px solid gray;
}

button.right-button {
  float: right;
  margin-right: 24.25%;
}

div.scrollable {
  padding-bottom: 2rem;
  overflow-y: scroll;
  margin: 0 auto;
  max-height: 85%;
}
