.center-table {
  padding: 2%;
}

.mat-column-select {
  overflow: initial;
}

.mat-table {
  max-height: 45rem;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-cell {
  display: flex;
  justify-content: center;
  padding-top: 0.7%;
}

i.info {
  cursor: pointer;
}
