footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 30px;
  padding: 1rem;
  font-style: italic;
  color: gray;
}

footer .right {
  float: right;
}

footer.sticky {
  background-color: rgba(128, 128, 128, 0.1);
}
